<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>vue-list</title>
    <script type="text/javascript" src="vue.js"></script>
  </head>
  <body>

  <div id="vue-list">
    <ol >
      <li v-for="item in items">{{item.message}}</li>
    </ol>

    <ul >
      <li v-for="( item, index )  in items">{{item.message}}---index: {{index}}--------{{veryDeepObj.level1.level2.level3.level4}}-</li>
    </ul>

  </div>
  <script type="text/javascript">
    var vueList = new Vue({
      el: '#vue-list',
      data:{
        veryDeepObj:{
          level1:{
            level2:{
              level3:{
                level4:'I am in level 4~~~'
              }
            }
          }
        },
        items:[
          {message: 'Foo'},
          {message: 'Objj '},
          {message: 'Foo3 VBar'}
        ]

      }
    });
  </script>

  <div class="object-v-for">
    <ul>
      <li v-for="value in object">{{value}}</li>
    </ul>
    <ul>
      <li v-for="( value, key) in object">{{key}} : {{value}}</li>
    </ul>

    <h3>整数迭代</h3>
    <div>
      <span v-for="n in 10">{{ n }}，</span>
    </div>

  </div>
  <script type="text/javascript">
    var vForObject = new Vue({
      el:'.object-v-for',
      data: {
        object:{
          key1: 'key one',
          key2: 'key two'
        }
      }
    });
  </script>
  </body>
</html>
